      .home {
          color: black;
          background-color: lawngreen;
          border: black;
          border-radius: 20px;
          padding: 10px;
          margin: 260px;
          width: 200px;
          height: 35px;
          font-family: 'Courier New', Courier, monospace;
          text-align: center;
          animation: opacity 2s ease-in-out infinite;
          opacity: 1;
      }
      
      @keyframes opacity {
          0% {
              opacity: 1;
          }
          50% {
              opacity: 0
          }
          100% {
              opacity: 1;
          }
      }
      
      .play {
          padding: 10px;
          margin: 260px;
          width: 150px;
          height: 35px;
          background-color: black;
          color: yellowgreen;
          font-family: 'Courier New', Courier, monospace;
          cursor: pointer;
          animation: opacity 2s ease-in-out infinite;
          opacity: 1;
      }
      
      @keyframes opacity {
          0% {
              opacity: 1;
          }
          50% {
              opacity: 0
          }
          100% {
              opacity: 1;
          }
      }
      
      .play:hover {
          color: lawngreen;
      }
      
      .selectors {
          border: black;
          border-radius: 20px;
          padding: 10px;
          margin: 120px;
          width: 150px;
          height: 35px;
          color: black;
          -webkit-text-stroke: black;
          -webkit-text-stroke: px;
          background-color: lawngreen;
          font-family: 'Courier New', Courier, monospace;
          animation: opacity 2s ease-in-out infinite;
          opacity: 1;
      }
      
      @keyframes opacity {
          0% {
              opacity: 1;
          }
          50% {
              opacity: 0
          }
          100% {
              opacity: 1;
          }
      }
      
      .selectors:hover {
          color: lawngreen;
      }
      
      .back {
          text-decoration: none;
          color: lawngreen;
          font-family: 'Courier New', Courier, monospace;
      }
      
      .back:hover {
          color: black;
      }
      
      .Linkedin-Image {
          text-align: center;
          margin: 200px;
          width: 200px;
          border-radius: 100px;
      }
      
      .Github-Image {
          text-align: center;
          margin: 200px;
          width: 200px;
      }
      
      .Labenu-Image {
          text-align: center;
          margin: 200px;
          width: 200px;
          border-radius: 100px;
      }