@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
}

.img-menu {
    width: 40px;
    border-radius: 30px;
}

.input-1[type="checkbox"] {
    display: none;
}

.button-buy {
    margin: 15px;
    padding: 4px;
    position: absolute;
    left: 590px;
    border-radius: 20px;
    border-color: black;
    background-color: yellow;
    font-family: fantasy;
    width: 50px;
}

.menu-index {
    width: 250px;
    height: 100px;
    left: -250px;
    position: absolute;
}

.input-1[type="checkbox"]:checked~.menu-index {
    transform: translateX(250px);
}

.menu-1 {
    list-style: none;
    position: absolute;
}

.links-menu {
    display: block;
    padding: 20px 5px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.titulo {
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    color: yellow;
    margin: 100px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
}

.frase-1 {
    text-align: center;
    font-family: fantasy;
}

.social-medias {
    text-align: center;
    margin: 60px;
}

.informações {
    color: yellow;
    text-align: center;
    font-family: fantasy;
    padding: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

a {
    text-decoration: none;
    font-family: fantasy;
    color: black;
}

a:hover {
    color: yellow;
}

#table {
    font-family: fantasy;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    position: absolute;
    left: 360px;
}

.add-produto {
    font-family: fantasy;
    text-align: center;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.button-produto {
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
    color: yellow;
}

.button-produto:hover {
    color: white;
}

.funcionarios {
    text-align: center;
    padding: 0px;
}

.elon {
    font-family: fantasy;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.herbert {
    font-family: fantasy;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.edward {
    font-family: fantasy;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.lucas {
    font-family: fantasy;
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.img-default {
    margin: 200px;
    text-align: center;
}

.venda {
    padding: 80px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 15px;
}

.button-venda {
    margin: 20px;
    color: yellow;
    border-radius: 20px;
}